{% extends "base.html.twig" %}

{% block body %}

    <div class="container">
        <div class="row">
    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
        </div>
        <div class="row">
            <h3 class="mt-5 mb-5">Search User</h3>
            <div class="col-md-6 offset-md-3">
               {{ form_start(form) }}
                     <div>
                        {{ form_widget(form.id, {'attr':{'class':'form-control','placeholder':'id'}}) }}
                    </div>
                    
                    <div>
                        {{ form_widget(form.username, {'attr':{'class':'form-control','placeholder':'Name'}}) }}
                    </div>

                    <div>
                        {{ form_widget(form.contact, {'attr':{'class':'form-control','placeholder':'Contact'}}) }}
                    </div>

                    <div>
                        {{ form_widget(form.email, {'attr':{'class':'form-control','placeholder':'Email'}}) }}
                    </div>

                    <div>
                        {{ form_widget(form.submit, {'attr':{'class':'btn btn-info mt-2 text-white'}}) }}
                    </div>

                {{ form_end(form) }}
            <div class="row">
            
            </div>
        </div>
    </div>

{% endblock %}