{% extends "base.html.twig" %}

{% block body %}

    <div class="container">
        <div class="row">
    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
        </div>
        <div class="row">
            <h3 class="mt-5 mb-5">Search User</h3>
            <div class="col-md-6 offset-md-3">
               {{ form_start(form) }}
                     <div>
                        {{ form_widget(form.id) }}
                    </div>
                    
                    <div>
                        {{ form_widget(form.username) }}
                    </div>

                    <div>
                        {{ form_widget(form.contact) }}
                    </div>

                    <div>
                        {{ form_widget(form.email) }}
                    </div>

                    <div>
                        {{ form_widget(form.search) }}
                        <a class='btn btn-info mt-2 btn-warning' href="{{ path('create') }}">Go Back to ADD USERS</a>
                    </div>

                {{ form_end(form) }}
            <div class="row">
            
            </div>
        </div>

            <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Contact</th>
      <th scope="col">Email</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
  {% for data in list %}
    <tr>
      <th scope="row">{{ data.id }}</th>
      <td>{{ data.username }}</td>
      <td>{{ data.contact }}</td>
        <td>{{ data.email }}</td>
      <td>
            <a class="btn btn-warning" href="{{ path('update', {'id': data.id }) }}">Update</a>
            <a class="btn btn-danger" href="{{ path('delete', {'id': data.id }) }}">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

    </div>

{% endblock %}